// Colors
$yellow: #FFEB1E;
$yellow-dark: #EDD800;
$yellow-light: #FCF078;

$yellow-light-25: #FCF07819;
$gray-07-15: #C0C1C21E;

$gray-01: #30393E;
$gray-02: #465054;
$gray-03: #5C666B;
$gray-04: #778186;
$gray-05: #8A9297;
$gray-06: #A7AAAB;
$gray-07: #C0C1C2;
$gray-08: #D7D8D9;
$gray-09: #EBEBEB;
$gray-10: #F0F0F0;

$white: #FFFFFF;
$error-color: #c70000;

// Background Colors
$light-background-color: $gray-10;
$dark-background-color: $gray-02;

// Typography Colors
$light-headline-color: $gray-10;
$dark-headline-color: $gray-01;
$dark-content-color: $gray-02;

// Spacing
$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 40px;
$spacing-xl: 48px;
$spacing-xxl: 64px;
$spacing-xxxl: 80px;

$footer-desktop-height: 78px;
$header-desktop-height: 71px;

$footer-mobile-height: 251px;
$footer-tablet-height: 153px;