[email_aws_smtp]
username = "notrealusername"
password = "notrealpassword"
host = "email-smtp.us-east-1.amazonaws.com"
port = 587
[email_debug_smtp]
username = ""
password = ""
host = "localhost"
port = 1025

